<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
            <h2 class="text-center pt-3">Add Book</h2>
            {{!-- Form start --}}
            <form method="post" action="http://localhost:3000/api/list" class="form-signin needs-validation pt-3"
                oninput="confirmPassword.setCustomValidity(password.value !== confirmPassword.value ? 'Password do not match' : '')"
                novalidate>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-tag"></i></span>
                    <input name="isbn" type="text" class="form-control" placeholder="Name ISBN" required>
                    <div class="valid-feedback">That look great!</div>
                    <div class="invalid-feedback">Please enter your ISBN book</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-journal-bookmark"></i></span>
                    <input name="title" type="text" class="form-control" placeholder="Title" required>
                    <div class="valid-feedback">That look great!</div>
                    <div class="invalid-feedback">Please enter your Title Book</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                    <input name="author" type="text" class="form-control" placeholder="Author" required>
                    <div class="valid-feedback">That look great!</div>
                    <div class="invalid-feedback">Please enter your Author Book</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-bar-chart"></i></span>
                    <input name="publisher" type="text" class="form-control" placeholder="Pulisher" required>
                    <div class="valid-feedback">That look great!</div>
                    <div class="invalid-feedback">Please enter your Pulisher Book</div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Add Now</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false)
            });
    })();
</script>