<div class="container">
            <div class="row mt-5">
                <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
                    <h2 class="text-center pt-3">Login Now</h2>
                    {{!-- Form start --}}
                    <form method="post" action="http://localhost:3000/api/home" class="py-3 needs-validation"
                        novalidate>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                            <input name="username" id="email" type="email" class="form-control" placeholder="Email"
                                required>
                            <div class="valid-feedback">That look great!</div>
                            <div class="invalid-feedback">Please enter your email</div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
                            <input name="password" id="password" type="password" class="form-control"
                                placeholder="Password" required>
                            <div class="valid-feedback">That look great!</div>
                            <div class="invalid-feedback">Please enter your password</div>
                        </div>

                        <div class="d-grid">
                            <button id="btnLogin" type="submit" class="btn btn-success">SignUp Now</button>
                            <p class="text-center text-muted mt-3">Register Now for Free by Clicing <a
                                    href="http://localhost:3000/api/signup"> Register Now </a></p>
                        </div>
                    </form>
                </div>
            </div>
</div>



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false)
            });
    })();

    {{#if err}}
    alert(`{{showErr}}`)
    {{/if}}
</script>